<ion-view title="Challenge Type" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="challengeTypePage-form5" class="list">
      <label class="item item-input item-floating-label" id="challengeTypePage-input6">
        <span class="input-label">Distance</span>
        <input type="text" placeholder="Distance (Miles)">
      </label>
    </form>
    <h1 id="challengeTypePage-heading1" style="color:#000000;text-align:center;">OR</h1>
    <form id="challengeTypePage-form7" class="list">
      <label class="item item-input item-floating-label" id="challengeTypePage-input8">
        <span class="input-label">Time</span>
        <input type="text" placeholder="Time (minutes)">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 52px;"></div>
    <a ui-sref="meetChallenger" id="challengeTypePage-button30" class="button button-positive  button-block">Challenge!</a>
  </ion-content>
</ion-view>