<ion-view title="Friends" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="friends-list6">
      <ion-item class="item-avatar" id="friends-list-item17">
        <img src="../img/Nico.jpg"><h2>Nico di Angelo</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="friends-list7">
      <ion-item class="item-avatar" id="friends-list-item19">
        <img src="../img/Reyna.png"><h2>Reyna Ramirez</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="friends-list8">
      <ion-item class="item-avatar" id="friends-list-item20">
        <img src="../img/Frank.JPG"><h2>Frank Zhang</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>