<ion-view title="Home" hide-back-button="true" id="page2">
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="blackTint">
        <h1 style="text-align:center; color:white"></h1>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQygmaDnvs2usQLxBx9r0wFj8y2N6i-NQ7VArrZig5lQE0RxSgs" id="PounceProfile" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    <div id="SpaceHome"></div>  
    <a ui-sref="newChallengePage" id="homePage-button16" class="button button-positive  button-block">New Challenge</a>
    <a ui-sref="yourChallenges" id="homePage-button17" style="font-size:-4px;" class="button button-positive">Your Challenges</a>
    <a ui-sref="runHistory" id="homePage-button18" style="font-size:-4px;" class="button button-positive">Run History</a>
  </ion-content>
</ion-view>