<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input item-floating-label" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginInfo.email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginInfo.password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button25" ng-click="signIn()" class="button button-stable  button-block">Log in</button>
      <a ui-sref="signup" id="login-button26" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>