<ion-view title="Challenge" id="page7" id="up2">
  <ion-content padding="true" class="has-header" id="up1">
    <div id="meetSpacer" style="height:1px;"></div>  
    <div id="topPanel" style="margin: 0px; text-align: center;">
      <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
        <div id="intSpacer"></div>  
        <img src="https://randomuser.me/api/portraits/men/18.jpg" id="challengePhoto">
        <h2> Nico </h2>
        <h3>20 M | California</h3>
    </div>
    <div id="meetSpacer"></div>    
    <div id="bottomPanel" style="margin: 0px; text-align: center;">
        <div id="intSpacer"></div>  
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQygmaDnvs2usQLxBx9r0wFj8y2N6i-NQ7VArrZig5lQE0RxSgs" style="width:50%" id="challengePhoto">
        <h2>You</h2>
        <h3>19 M | New York</h3>
      <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
        
    </div>
    <div id="meetSpacer" style="height:1px;"></div>
    <div align="center">
      <a ui-sref="mapRoute" id="meetChallenger-button33" class="button button-assertive  button-block">READY</a>  
    </div>
  </ion-content>
</ion-view>