<ion-view title="Meet Challenger" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="topPanel" style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="bottomPanel" style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="mapRoute" id="meetChallenger-button33" class="button button-positive  button-block">Ready!</a>
  </ion-content>
</ion-view>