<ion-view title="Run History" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="runHistory-card24">
      <div>
       <img src="../img/SampleMap.JPG" id="sampleMap">    
      </div>
      <ion-item class="item-avatar assertive" id="runHistory-list-item12">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQygmaDnvs2usQLxBx9r0wFj8y2N6i-NQ7VArrZig5lQE0RxSgs">
        <h2 style="color:green">Win: 10/25/16 at 7:00 am
          <p>2 miles - 15:00 min</p>
        </h2 balanced>
      </ion-item>
    </div>
    <div class="list card" id="runHistory-card24">
      <div>
       <img src="../img/SampleMap.JPG" id="sampleMap">    
      </div>
      <ion-item class="item-avatar assertive" id="runHistory-list-item12">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQygmaDnvs2usQLxBx9r0wFj8y2N6i-NQ7VArrZig5lQE0RxSgs">
        <h2assertive>Loss: 10/29/16 at 3:00 pm
          <p>1.3 miles - 12:00 min</p>
        </h2assertive>
      </ion-item>
    </div>
  </ion-content>
</ion-view>