#homePage-button17 {
    width: 49%;
    float:left;
    //background-color: aqua;
}

#homePage-button18 {
    width: 49%;
    float: right;
}

#PounceProfile {
    border: 5px solid;
    border-radius: 50%;
    width: 60%;
}

#SpaceHome {
    height: 60px;
}